#player > img{
    width: 40vh;
}

#obstaculo > img{
    width: 10vh;
}
#game{
    border: 2px solid black;
}
#obstaculo{
    left: 100vh;
    top: 0vh;
    position: relative;
    animation: obstaculo 2s infinite linear;
}

#player{
    position: relative;
    top: 10vw;
}
.jump{
    animation: jump 500ms linear;
}
@keyframes obstaculo{
    0%{
        left: 100vw;;
    }
    100%{
        left: -40px;
    }
}
@keyframes jump{
    0%{
        top: 10vh;
    }
    15%{
        top: 8vh
    }
    25%{
        top: 5vh;
    }
    50%{
        top:2vh;
    }
    75%{
        top: 5vh
    }
    85%{
        top: 8vh
    }
    100%{
        top: 10vh;
    }
}