/* CONFIGURAÇÕES GERAIS */
@font-face {
    font-family: dogica;
    src: url(../fonte/dogica/TTF/dogica.ttf);
}
@font-face {
    font-family: dogica-pixel;
    src: url(../fonte/dogica/TTF/dogicapixel.ttf);
}
@font-face {
    font-family: dogica-pixel-bold;
    src: url(../fonte/dogica/TTF/dogicapixelbold.ttf);
}

* {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    user-select: none;
    font-family: dogica-pixel;
    image-rendering: pixelated;
}

body {
    background: #5fdcfd;
    background-size: 126vw;
    width: 100vw;
}
#container{
    width: 100vw;
    height: 100vh;
    filter: brightness(0.7) blur(4px);
    position: absolute;
    z-index: 50;
}

#containerJogar{
    position: absolute;
    display: flex;
    top: 10vh;
    left: 15vw;
    flex-direction: column;
    position: absolute;
    padding: 5vw;
    padding-right: 45vw;
    justify-content: space-around;
    align-items: flex-start;
    border-radius: 2vw;
    background-color: rgba(34, 48, 52, 0.7);
    z-index: 100;
    height: 60vh;
}
#containerJogar img{
    filter: brightness(0.8);
    position: absolute;
    left: 20vw;
    width: 60vw;
    height: 55vh;
    z-index: 1;
}

#containerJogar button {
    margin-right: 20vh;
    background-color: #60d2f6;
    border:none;
    color: white;
    font-family: dogica-pixel-bold;
    padding: 2vw;
    border-radius: 1vw;
    color: #eeeeee;
    user-select: none;
    background: linear-gradient(to top, rgba(0, 138, 255, 0.5), rgba(0, 255, 231, 0.5));
    animation: animacaoRGB 10s linear infinite;
    transition: 3s;
}
@keyframes animacaoRGB{
    0%, 100%{
        filter: hue-rotate(0deg);
        border: none;
    }
    50%{
        filter: hue-rotate(-180deg);
        border: none;
    }
}
#containerJogar h1 {
    z-index: 2;
    position: absolute;
    left: 44.5vw;
    top: 25vh;
    color: white;
    font-family: dogica-pixel-bold;
    padding: 2vw;
    border-radius: 1vw;
    color: #eeeeee;
}
#containerJogar h2 {
    z-index: 2;
    position: absolute;
    left: 45vw;
    top: 33vh;
    color: white;
    font-family: dogica-pixel-bold;
    padding: 2vw;
    border-radius: 1vw;
    color: #eeeeee;
}
#containerJogar span {
    z-index: 2;
    position: absolute;
    left: 43vw;
    top: 42vh;
    color: white;
    font-family: dogica-pixel-bold;
    padding: 2vw;
    border-radius: 1vw;
    color: #eeeeee;
    font-size: 1vw;
}
#containerJogar #qntPega {
    top: 50vh !important;
}
#containerJogarRunPiece{
    top: 10vh !important;
    left: 2vw !important;

}

#vida {
    position: fixed;  
    margin-top: 2vh;
    left: 83vw;
    padding: 2vw;
    border-radius: 1vw;
    color: #eeeeee;
    display: flex;
    width: 10vw;
    justify-content: space-around;
}
#vida img{
    width: 2vw;
    height: 4.5vh;
}

/*photobanner*/

.photobanner {
    position: absolute;
    padding-left: -5vw;
    height: 500vh;
    width: 800vw;
    z-index: 0;
    top: 45vh;
}

#backgroundDinamico img {
    display: inline-block;
    height: 55vh;
    width: 100vw;
    margin-right: -10vh;
}


/*PRIMEIRA IMAGEM DO BANNER PRECISA NECESSARIAMENTE DISSO*/
#primeiroBanner {
    animation: bannermove 7s linear infinite;
}

@keyframes bannermove {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: -400vw;
    }

}


/* CONFIGURAÇÃO DA DIV GAME */
#game {
    height: 99vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

/* CONFIGURAÇÃO DO TAMANHO DO PLAYER E OBSTACULOS */
#obstaculo > img {
    width: 6vh;
    height: 3vw;
    user-select: none;
}
#arvore > img {
    position: absolute;
    width: 80vh;
    height: 40vw;
    top: 50vh;
    user-select: none;
    z-index: 15;
    animation: arvore 8s linear infinite;
}
@keyframes arvore {
    0% {
        left: 200vw;
        ;
    }

    100% {
        left: -50vw;
    }
}
#inseto > img {
    position: fixed;
    width: 6vh;
    height: 3vw;
    top: 85vh;
    user-select: none;
    animation: inseto 7s linear infinite;
}
@keyframes inseto {
    0% {
        left: 150vw;
        ;
    }

    100% {
        left: -50vw;
    }
}


#obstaculo {
    top: 35vh;
    position: relative;
    animation: obstaculo 2s infinite linear;
}

#obstaculoVoador {
    z-index: 15;
    left: 100vh;
    top: -20vh;
    position: relative;
    animation: obstaculoVoador 5s infinite linear;
}
#obstaculoVoador>img {
    width: 9vh;
    height: 7vh;
    user-select: none;
}
#tubarao {
    z-index: 0;
    top: 0vh;
    position: relative;
    animation: tubarao 20s infinite linear;
}
#tubarao > img {
    width: 9vh;
    height: 7vh;
    user-select: none;
}
#ship {
    z-index: 0;
    top: -5vh;
    position: relative;
    animation: ship 63s infinite linear;
}
#ship > img {
    width: 4vh;
    height: 3vh;
    user-select: none;
}
#nuvem {
    z-index: 0;
    top: 10vh;
    width: 180vw;
    position: absolute;
    animation: nuvem 20s infinite linear;
    display: flex;
    justify-content: space-evenly;
}
#nuvem > img {
    width: 40vh;
    height: 20vw;
    user-select: none;
}
#papagaio {
    z-index: 0;
    top: -10vh;
    position: relative;
    animation: papagaio 15s infinite linear;
}
#papagaio > img {
    width: 12vh;
    height: 9vh;
    user-select: none;
}
#enemy {
    top: 60vh;
    left: 85vw;
    position: absolute;
}
#enemy > img {
    width: 20vh;
    height: 16vh;
    user-select: none;
}

#player {
    position: relative;
    top: 23vw;
    z-index: 1;
    left: 10vw;
    filter: drop-shadow(0px 15px 5px rgba(0, 0, 0, 0.19));
}
#player img{
    width: 30vh;
    height: 32vh;
    user-select: none;
}
/* CONFIGURAÇÃO DO PULAR */
.jump {
    animation: jump 800ms linear;
}
/* ANIMAÇÕES DOS DETALHES E OBSTACULOS */
@keyframes obstaculo {
    0% {
        left: 90vw;
    }
    100% {
        left: -10px;
    }
}
@keyframes nuvem {
    0% {
        left: 70vw;
    }
    100% {
        left: -130vw;
    }
}
@keyframes ship {
    0% {
        left: 800vw;
        ;
    }

    100% {
        left: -10px;
    }
}
@keyframes papagaio {
    0% {
        left: 230vw;
    }
    100% {
        left: -10px;
    }
}

@keyframes obstaculoVoador {
    0% {
        left: 250vw;
        ;
    }

    100% {
        left: -10px;
    }
}
@keyframes tubarao {
    0% {
        left: 700vw;
        ;
    }

    100% {
        left: -10px;
    }
}

@keyframes jump {
    0% {
        top: 23vh;
    }

    25% {
        top: 21vh;
    }

    50% {
        top: 19vh;
    }

    75% {
        top: 21vh
    }

    100% {
        top: 23vh;
    }
}

/* CONFIGURAÇÃO DA DIV DE MOEDAS */
#divMoeda {
    position: fixed;
    /* background-color: rgba(0, 0, 0, 0.504); */
    top: 0vh;
    left: 70vw;
    padding: 2vw;
    border-radius: 1vw;
    color: #eeeeee;
    font-size: 2vw;
    user-select: none;
    width: 20vw;
    display: flex;
}
#divMoeda img{
    width: 3vw ;
    height: 6vh;
    padding-right: 3vw;
}
#divMoeda span{
    margin-top: 0.6vw;
}

#barra {
    position: fixed;
    background-color: transparent;
    margin-top: 7vh;
    left: 1vw;
    user-select: none;
    height: 2vw;
    width: 21vw;
    border-radius: 2vh;
    border: solid 3px rgba(255, 255, 255, 0.869);
}
#barraCheia {
    display: none;
    position: fixed;
    margin-top: 7.2vh;
    left: 1.1vw;
    padding: 0.15vh;
    user-select: none;
    height: 2vw;
    width: 0vw;
    border-radius: 2vh;
}

/* CONFIGURAÇÃO DE MISSÕES */
#containerMissao {
    height: 200px;
    width: 280px;
    position: absolute;
    right: 0;
    top: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}