/* CONFIGURAÇÕES GERAIS */
@font-face {
    font-family: dogica;
    src: url(../fonte/dogica/TTF/dogica.ttf);
}
@font-face {
    font-family: dogica-pixel;
    src: url(../fonte/dogica/TTF/dogicapixel.ttf);
}
@font-face {
    font-family: dogica-pixel-bold;
    src: url(../fonte/dogica/TTF/dogicapixelbold.ttf);
}


/* CONFIGURAÇÕES GERAIS */
* {
    padding: 0;
    margin: 0;
    font-size: 2.2vh;
    color: white;
    background-color: #DAA167;
    font-family: dogica-pixel;
}
* img {
    background: transparent;
}
a {
    background: transparent;
    border: none;
    text-decoration: none;
}


/* CONFIGURAÇÃO DO SCROLL */
::-webkit-scrollbar {
    width: 0.3vw;
    border-radius: 2vw;
}
::-webkit-scrollbar-thumb{
    width: 0.7vw;
    border-radius: 2vw;
    background: linear-gradient(to top, #F4CF9B, #34AAFF);
}


/* CONFIGURAÇÃO DO HEADER */
.header {
    display: flex;
    width: 100%;
    height: 13vh;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    background-color: #5FDCFD;
    z-index: 100;
    position: absolute;
}
.header .navMask {
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #5fdbfd80;
}
.logo {
    display: flex;
    padding-right: 5%;
    padding-left: 3%;
    background: transparent;
}
.logo h4 {
    align-items: center;
    padding-left: 1vw;
    background: transparent;
    margin-top: 0.2vw;
}
.header input {
    display: flex;
    width: 0vw;
    height: 0vh;
    visibility: hidden;
    border-top-left-radius: 3vh;
    border-bottom-left-radius: 3vh;
    padding-left: 2vh;
    transition: 2s;
}
.header ::placeholder {
    color: rgba(255, 255, 255, 0.3);
}
.header button {
    border: none;
    padding: 0.7vw;
    border-radius: 6vh;
    background: linear-gradient(to top, rgba(0, 138, 255, 0.5), rgba(0, 255, 231, 0.5));
    animation: animacaoRGB 10s linear infinite;
    transition: 3s;
}
.header button:hover {
    background: linear-gradient(to top, rgba(0, 138, 255, 0.8), rgba(0, 255, 231, 0.8));
    animation: animacaoRGB 10s linear infinite;
    transition: 1s;
}
#iconeUser{
    height: 8vh;
    width: 4vw;
    margin-right: 4vw;
}
#iconeSair{
    height: 3vh;
    width: 1.5vw;
}
#trocaImagem{
    background-color: transparent;
}
.icones {
    display: flex;
    justify-content: flex-end;
    margin-right: 1%;
    background: transparent;
}
#jaLogin {
    display: flex;
    margin-right: 2vw;
}
#jaCadastro:hover {
    display: flex;
    margin-right: 2vw;
    padding: 2vh;
    background: linear-gradient(to top, #5FDCFD, #F4CF9B);
    animation: animacaoRGB 10s linear infinite;
    border-radius: 1vw;
}
#jaCadastro {
    display: flex;
    margin-right: 2vw;
    padding: 2vh;
    background: linear-gradient(to top, rgba(0, 138, 255, 0.5), rgba(0, 255, 231, 0.5));
    animation: animacaoRGB 10s linear infinite;
    border-radius: 1vw;
}
#divBotao {
    background-color: transparent
}
#mudarCarrinho{
    background-color: transparent
}
/* CONFIGURAÇÃO DO FOOTER DA INDEX (CONFIG DE TAMANHO ESPECIAL) */
.footer {
    display: flex;
    width: 100%;
    height: 13vh;
    align-items: center;
    justify-content: space-around;
    margin-top: 195vh;
}
.conteudoFooter {
    background: transparent;
}
.footer span {
    font-size: medium;
    background: transparent;
}
.footer img {
    width: 2.5vw;
    height: 5vh;
}

/* CONFIGURAÇÃO DO FOOTER GERAL */
.footerComum {
    display: flex;
    width: 100%;
    height: 13vh;
    align-items: center;
    justify-content: space-around;
    background-color: #34AAFF;
    margin-top: 5vh;
}
.conteudoFooterComum {
    background: transparent;
}
.footerComum span {
    font-size: medium;
    background: transparent;
}
.footerComum img {
    width: 2.5vw;
    height: 5vh;
}

/* CONFIGURAÇÃO DO CARD DE ERROS */
.cardErro {
    display: none;
    color: white;
    width: 12vw;
    position: fixed;
    border-radius: 1vw;
    text-align: center;
    padding: 1.5vw;
    margin-left: 75vw;
    margin-top: 3vw;
    background: linear-gradient(to top, #5FDCFD, #F4CF9B);
    animation: animacaoRGB 10s linear infinite;
  }
  
  .cardErro #mensagem_erro{
    font-weight: 500;
    font-size: 20px;
    background-color: transparent;
  }
  #div_erros_login{
    display: none;
    color: white;
    width: 12vw;
    position: fixed;
    border-radius: 1vw;
    text-align: center;
    padding: 1.5vw;
    margin-left: 75vw;
    margin-top: 3vw;
    background: linear-gradient(to top, #5FDCFD, #F4CF9B);
    animation: animacaoRGB 10s linear infinite;
  }
  #div_aguardar{
    display: none;
    color: white;
    width: 12vw;
    position: fixed;
    border-radius: 1vw;
    text-align: center;
    padding: 1.5vw;
    margin-left: 37vw;
    margin-top: 27vw;
    background: none;
  }

  /* CONFIGURAÇÕES DA DIV LOADING */
  .loading-div {
    width: 4vw;
    margin: auto;
    display: none;
    background: transparent;
  }
  
  .loading-div img {
    height: 50px;
    width: 50px;
  }

/* ------------------------------------ PÁGINA INDEX--------------------------------------------- */
/* CONFIGURAÇÃO DA DIV RGB BRILHANDO */
.rgbBolado {
    position: absolute;
    width: 100%;
    height: 1vh;
    border: none;
    background: linear-gradient(to top, #5FDCFD, #F4CF9B);
    animation: animacaoRGB 10s linear infinite;
    z-index: 100;
}


/* CRIAÇÃO DA ANIMAÇÃO */
@keyframes animacaoRGB{
    0%, 100%{
        filter: hue-rotate(0deg);
        border: none;
    }
    50%{
        filter: hue-rotate(-180deg);
        border: none;
    }
}


/* TRAZENDO O EFEITO BLUR (sem a position e o content não funciona)*/
.rgbBolado::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, #5FDCFD, #F4CF9B);
    filter: blur(2vh);
}

/* CONFIGURAÇÃO DO BANNER*/
.banner {
    width: 100%;
    height: 92vh;
}
.banner img {
    width: 100%;
    height: 92vh;
}

/* CONFIGURAÇÃO DA IMAGEM DO COQUEIRO */
#coqueiroIndex{
    position: absolute;
    background-color: transparent;
    top: 55vh;
    left: 35vw;
}
#coqueiroIndex img{
    width: 80vh;
    height: 40vw;
    
}

/* CONFIGURAÇÃO DO TÍTULO DO CARD  */
.tituloCard {
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-left: 2vw;
}


/* ------------------------------------ CONFIGURAÇÃO DA PÁGINA DE CADASTRO -------------------------------------------- */
.cointainerImgCadastro{
    /* border: red 2px solid; */
    width: 28vw;
    height: 76vh;
    display: flex;
    margin-right: 20vw;
}
.cointainerImgCadastro img{
    display: flex;
    margin-top: 15vh;
}

.containerCadastroLogin {
    display: flex;
    width: 99.7%;
    height: 86vh;
    justify-content: center;
    /* border: red 2px solid; */
}
.containerCadastro {
    display: flex;
    width: 30vw;
    height: 78vh;
    border-radius: 2vw;
    background: rgba(35, 35, 35, 0.6);
    margin-top: 3vw;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-right: 10vw;
}
.boxCadastro {
    width: 18vw;
    height: 52vh;
    background: transparent;
}
.boxCadastro h3 {
    margin-bottom: 2.5vh;
    background: transparent;
}
.boxCadastro span{
    font-size: 2.5vh;
    display: flex;
    padding-bottom: 2vh;
    background: transparent;
}
.boxCadastro input{
    display: flex;
    width: 18vw;
    height: 4vh;
    margin-bottom: 2.5vh;
    padding-left: 1vw;
    border-radius: 3vh;
    display: flex;
    border: none;
    font-size: 2vh;
}
.boxCadastro ::placeholder {
    color: rgba(255, 255, 255, 0.15);
    font-size: 2.4vh;
}
.containerCadastroLogin button {
    display: flex;
    justify-items: center;
    margin-top: 13vh;
    padding: 1.5vh;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    border-radius: 1vw;
    border: none;
}
.containerCadastroLogin button:hover {
    background: linear-gradient(to top, rgba(0, 138, 255, 0.8), rgba(0, 255, 231, 0.8));
    animation: animacaoRGB 10s linear infinite;
}

/* ------------------------------------ CONFIGURAÇÃO DA PÁGINA DE LOGIN ------------------------ */
.boxLogin {
    width: 18vw;
    height: 50vh;
    background: transparent;
    display: flex;
    flex-direction: column;
}
.boxLogin h3 {
    margin-bottom: 3vh;
    margin-top: 12vh;
    background: transparent;
}
.boxLogin span{
    font-size: 2.5vh;
    display: flex;
    padding-bottom: 2vh;
    padding-top: 2vh;
    background: transparent;
}
.boxLogin input{
    display: flex;
    width: 18vw;
    height: 4vh;
    margin-bottom: 2vh;
    padding-left: 1vw;
    border-radius: 3vh;
    display: flex;
    border: none;
    font-size: 2vh;
}
.boxLogin ::placeholder {
    color: rgba(255, 255, 255, 0.3);
    font-size: 2.4vh;
}
.containerLoginLogin button {
    display: flex;
    justify-items: center;
    margin-top: 12vh;
    padding: 1.5vh;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    border-radius: 1vw;
    border: none;
}
.containerCadastroLogin button:hover {
    background: linear-gradient(to top, rgba(0, 138, 255, 0.8), rgba(0, 255, 231, 0.8));
    animation: animacaoRGB 10s linear infinite;
}