/* CONFIGURAÇÕES GERAIS */
@font-face {
    font-family: dogica-pixel;
    src: url(../fonte/Pixeled.ttf);
}
@font-face {
    font-family: dogica-pixel-bold;
    src: url(../fonte/Pixeled.ttf);
}


/* CONFIGURAÇÕES GERAIS */
* {
    padding: 0;
    margin: 0;
    font-size: 1.7vh;
    color: white;
    font-family: dogica-pixel;
    line-height: 3vh;
}
body {
    background: #C3915D;
}
* img {
    background: transparent;
}
a {
    background: transparent;
    border: none;
    text-decoration: none;
}
.rotateY {
    transform: rotateY(180deg);
}


/* CONFIGURAÇÃO DO SCROLL */
::-webkit-scrollbar {
    width: 0.3vw;
    border-radius: 2vw;
}
::-webkit-scrollbar-thumb{
    width: 0.7vw;
    border-radius: 2vw;
    background: linear-gradient(to top, #F4CF9B, #34AAFF);
}


/* CONFIGURAÇÃO DO HEADER */
.header {
    display: flex;
    width: 40vw;
    height: 18vh;
    background-color: #398498 !important;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    z-index: 100;
    position: absolute;
}
.headerIndex {
    display: flex;
    width: 99.7vw;
    height: 18vh;
    background-color: #34AAFF;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    z-index: 100;
    position: absolute;
}
#imagemFundo {
    width: 99.7vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    display: none;
    background-size: cover;
    filter: brightness(0.6);
    background: url(../imagens/imgEstatica/game/bannerJogo.PNG);
}
.headerIndex .navMask {
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #56C6E4;
}
.logo {
    display: flex;
    padding-right: 5%;
    padding-left: 3%;
    background: transparent;
    z-index: 100;
}
.logo h4 {
    color: white;
    align-items: center;
    padding-left: 1vw;
    background: transparent;
    margin-top: 0.2vw;
    line-height: 5vh;
    font-size: 1.6vw;
    filter: drop-shadow(0px 1px 2px #000);
}
.header input {
    display: flex;
    width: 0vw;
    height: 0vh;
    visibility: hidden;
    border-top-left-radius: 3vh;
    border-bottom-left-radius: 3vh;
    padding-left: 2vh;
    transition: 2s;
}
.header button {
    border: none;
    padding: 0.7vw;
    border-radius: 6vh;
    background: linear-gradient(to top, rgba(0, 138, 255, 0.5), rgba(0, 255, 231, 0.5));
    animation: animacaoRGB 10s linear infinite;
    transition: 3s;
}
.header button:hover {
    background: linear-gradient(to top, rgba(0, 138, 255, 0.8), rgba(0, 255, 231, 0.8));
    animation: animacaoRGB 10s linear infinite;
    transition: 1s;
}
#iconeUser{
    height: 8vh;
    width: 4vw;
    margin-right: 4vw;
}
#iconeSair{
    height: 3vh;
    width: 1.5vw;
}
#trocaImagem{
    background-color: transparent;
}
.icones {
    display: flex;
    justify-content: flex-end;
    margin-right: 1%;
    background: transparent;
}
#jaLogin {
    display: flex;
    margin-right: 2vw;
}
#jaCadastro:hover {
    display: flex;
    margin-right: 2vw;
    padding: 2vh;
    background: linear-gradient(to top, #5FDCFD, #F4CF9B);
    animation: animacaoRGB 10s linear infinite;
    border-radius: 1vw;
}
#jaCadastro {
    display: flex;
    margin-right: 2vw;
    padding: 2vh;
    background: linear-gradient(to top, rgba(0, 138, 255, 0.5), rgba(0, 255, 231, 0.5));
    animation: animacaoRGB 10s linear infinite;
    border-radius: 1vw;
}
#divBotao {
    background-color: transparent
}
#mudarCarrinho{
    background-color: transparent
}
/* CONFIGURAÇÃO DO FOOTER DA INDEX (CONFIG DE TAMANHO ESPECIAL) */
.footer {
    display: flex;
    width: 100%;
    height: 13vh;
    align-items: center;
    justify-content: space-around;
    margin-top: 225vh;
    z-index: 100;
    position: absolute;
    background-color: transparent;
}
.conteudoFooter {
    background: transparent;
    z-index: 100;
}
.footer span {
    background: transparent;
    z-index: 100;
    color: rgb(255, 255, 255);
    font-size: 1vw;
    filter: drop-shadow(0px 2px 2px #000);
}
.footer img {
    width: 5vw;
    height: 10vh;
    z-index: 100;
}

/* CONFIGURAÇÃO DO FOOTER GERAL */
.footerComum {
    display: flex;
    width: 100%;
    height: 13vh;
    align-items: center;
    justify-content: space-around;
    /* background-color: #34AAFF; */
    margin-top: 5vh;
}
.conteudoFooterComum {
    background: transparent;
}
.footerComum span {
    font-size: medium;
    background: transparent;
}
.footerComum img {
    width: 3vw;
    height: 5vh;
}
#imagemFooter img {
    position: absolute;
    width: 99.7vw;
    top: 260vh;
    z-index: 0;
    filter: brightness(0.9);
}

/* CONFIGURAÇÃO DO CARD DE ERROS */
.cardErro {
    display: none;
    color: white;
    width: 12vw;
    position: fixed;
    border-radius: 1vw;
    line-height: 5vh;
    text-align: center;
    padding: 1.5vw;
    margin-left: 75vw;
    margin-top: 3vw;
    background: linear-gradient(to top, #5FDCFD, #F4CF9B);
    animation: animacaoRGB 10s linear infinite;
}
  
  .cardErro #mensagem_erro{
    line-height: 5vh;
    font-weight: 500;
    font-size: 20px;
    background-color: transparent;
}
#div_erros_login{
    line-height: 5vh;
    display: none;
    color: white;
    width: 12vw;
    position: fixed;
    border-radius: 1vw;
    text-align: center;
    padding: 1.5vw;
    margin-left: 75vw;
    margin-top: 3vw;
    background: linear-gradient(to top, #5FDCFD, #F4CF9B);
    animation: animacaoRGB 10s linear infinite;
}
#div_aguardar{
    line-height: 5vh;
    display: none;
    color: white;
    width: 12vw;
    position: fixed;
    border-radius: 1vw;
    text-align: center;
    padding: 1.5vw;
    margin-left: 37vw;
    margin-top: 27vw;
    background: none;
  }

  /* CONFIGURAÇÕES DA DIV LOADING */
  .loading-div {
    width: 4vw;
    margin: auto;
    display: none;
    background: transparent;
  }
  
  .loading-div img {
    height: 50px;
    width: 50px;
  }

/* ------------------------------------ PÁGINA INDEX--------------------------------------------- */
/* CRIAÇÃO DA ANIMAÇÃO RBG*/
@keyframes animacaoRGB{
    0%, 100%{
        filter: hue-rotate(0deg);
        border: none;
    }
    50%{
        filter: hue-rotate(-180deg);
        border: none;
    }
}
/* CONFIGURAÇÃO DO BANNER*/
.banner {
    width: 100%;
    height: 92vh;
}
.banner img {
    width: 100%;
    height: 92vh;
    filter: brightness(0.9);
}

/* CONFIGURAÇÃO DA IMAGEM DO COQUEIRO */
#coqueiroIndex{
    position: absolute;
    background-color: transparent;
    top: 52vh;
    left: 35vw;
}
#coqueiroIndex img{
    width: 80vh;
    height: 40vw;
}
#tituloSobre {
    font-size: 3vw;
    left: 5vw;
    position: absolute;
    top: 110vh;
}
#textoSobre {
    font-size: 2.5vh;
    line-height: 5.5vh;
    width: 41vw;
    position: absolute;
    top: 130vh;
    left: 5vw;
}
#tituloContexto {
    font-size: 3vw;
    left: 71vw;
    position: absolute;
    top: 170vh;
}
#textoContexto {
    font-size: 2.5vh;
    line-height: 5.5vh;
    width: 45vw;
    position: absolute;
    top: 190vh;
    left: 52vw;
    text-align: right;
}
#imgConexto img{
    position: absolute;
    top: 140vh;
    width: 3vw;
    left: 80vw;
}
#containerTecnologia {
    position: absolute;
    top: 100vh;
    right: 150vw;
    line-height: 10vh;
    height: 70vh;
}
#tituloTecnologia {
    font-size: 3vw;
    left: 55vw;
    position: absolute;
    top: 148vh;
    line-height: 5vw;
    z-index: 99;
    background-color: transparent;
}
#imgTecnologia img {
    position: absolute;
    left: 10vw;
    z-index: 1;
    top: 160vh;
    z-index: 10;
    width: 40vw;
}
#containerTecnologia img {
    position: absolute;
    left: 90vw;
    z-index: 10;
    width: 20vh;
    top: 70vh;
}
#imagensLinguagens {
    width: 100vw;
    left: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 80vh;
}
#imagensLinguagens #imgJS {
    width: 7vw;
    margin-left: 5vw;
    border-radius: 1vw;
}
#imagensLinguagens #imgHTML {
    margin-left: 33vw;
    width: 7vw;
    border-radius: 1vw;
}
#imagensLinguagens #imgCSS {
    margin-left: 20vw;
    width: 7vw;
    border-radius: 1vw;
}
#imgMato {
    top: 170vh !important;
    left: 135vw !important;
}

/* ------------------------------------ CONFIGURAÇÃO DA PÁGINA DE CADASTRO -------------------------------------------- */
.cointainerImgCadastro{
    /* border: red 2px solid; */
    width: 28vw;
    height: 76vh;
    display: flex;
    margin-right: 20vw;
}
.cointainerImgCadastro img{
    display: flex;
    margin-top: 15vh;
}

.containerCadastroLogin {
    display: flex;
    width: 99.7vw;
    height: 86vh;
    justify-content: center;
    /* border: red 2px solid; */
}
.containerCadastro {
    margin-top: 10vh;
    display: flex;
    width: 30vw;
    height: 85vh;
    border-radius: 2vw;
    background: rgba(35, 35, 35, 1);
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-left: 40vw;
}
.boxCadastro {
    width: 18vw;
    height: 52vh;
    margin-bottom: 20vh;
    background: transparent;
}
.boxCadastro h3 {
    margin-bottom: 2.5vh;
    background: transparent;
}
.boxCadastro span{
    font-size: 2.5vh;
    display: flex;
    padding-bottom: 2vh;
    background: transparent;
    color: #56C6E4;
    margin-bottom: 2vh;
}
.boxCadastro input{
    display: flex;
    width: 18vw;
    height: 4vh;
    margin-bottom: 2.5vh;
    padding-left: 1vw;
    border-radius: 3vh;
    display: flex;
    border: none;
    font-size: 2vh;
    color: black;
}
#btnCadastrar {
    position: absolute;
    top: 70vh;
    right: 20vw;
}
#btnLogin {
    top: 70vh;
    position: absolute;
    right: 32.5vw;
    
}
.boxCadastro ::placeholder {    
    color:rgba(0, 0, 0, 0.5);
    font-size: 1.8vh;
}
.containerCadastroLogin button {
    display: flex;
    justify-items: center;
    margin-top: 15vh;
    padding: 1.5vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    border-radius: 1vw;
    border: none;
    background-color: #56C6E4;
}

.containerCadastroLogin button:hover {
    background: linear-gradient(to top, rgba(0, 138, 255, 0.8), rgba(0, 255, 231, 0.8));
    animation: animacaoRGB 10s linear infinite;
}

/* ------------------------------------ CONFIGURAÇÃO DA PÁGINA DE LOGIN ------------------------ */
.boxLogin {
    width: 18vw;
    height: 60vh;
    background: transparent;
    display: flex;
    flex-direction: column;
}
.boxLogin h3 {
    margin-bottom: 3vh;
    margin-top: 12vh;
    background: transparent;
}
.boxLogin span{
    color: #56C6E4;
    margin-top: 6vh;
    font-size: 2.5vh;
    display: flex;
    padding-bottom: 2vh;
    padding-top: 2vh;
    background: transparent;
}
.boxLogin input{
    display: flex;
    width: 18vw;
    height: 4vh;
    margin-bottom: 2vh;
    padding-left: 1vw;
    border-radius: 3vh;
    display: flex;
    border: none;
    font-size: 2vh;
    color: #000;
}
.boxLogin ::placeholder {
    color: rgba(0, 0, 0, 0.4);
    font-size: 2.4vh;
}
.containerLoginLogin button {
    display: flex;
    justify-items: center;
    margin-top: 10vh;
    padding: 1.5vh;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    border-radius: 1vw;
    border: none;
}
.containerCadastroLogin button:hover {
    background: linear-gradient(to top, rgba(0, 138, 255, 0.8), rgba(0, 255, 231, 0.8));
    animation: animacaoRGB 10s linear infinite;
}