/* FONTES */
@font-face {
    font-family: raleway-regular;
    src: url(../fonte/Raleway-Regular.ttf);
}
@font-face {
    font-family: raleway-semi-bold;
    src: url(../fonte/Raleway-SemiBold.ttf);
}
@font-face {
    font-family: raleway;
    src: url(../fonte/Raleway-Medium.ttf);
}


/* CONFIGURAÇÕES GERAIS */
* {
    padding: 0;
    margin: 0;
    font-size: 3vh;
    color: white;
    background-color: #0A0E11;
    font-family: raleway;
}
* img {
    background: transparent;
}

/* CONFIGURAÇÃO DO SCROLL */
::-webkit-scrollbar {
    width: 0.4vw;
    border-radius: 2vw;
}
::-webkit-scrollbar-thumb{
    width: 0.7vw;
    border-radius: 2vw;
    background: linear-gradient(to top, #bf51ce ,#008aff);
}

/* CONFIGURAÇÃO DO HEADER */
.header {
    display: flex;
    width: 100%;
    height: 13vh;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    background-color: #232323;
}
.header .navMask {
    position: fixed;
    top: 0;
    z-index: 101;
    background: rgba(35, 35, 35, 0.6);
}
.logo {
    display: flex;
    padding-right: 5%;
    padding-left: 3%;
    background: transparent;
}
.logo h4 {
    align-items: center;
    padding-left: 1vw;
    background: transparent;
    margin-top: 0.2vw;
}
.header input {
    display: flex;
    width: 0vw;
    height: 0vh;
    visibility: hidden;
    border-top-left-radius: 3vh;
    border-bottom-left-radius: 3vh;
    transition: 2s;
}
.header ::placeholder {
    color: rgba(255, 255, 255, 0.3);
    padding-left: 2vh;
    font-family: raleway-regular;
}
.header button {
    border: none;
    padding: 0.7vw;
    border-radius: 6vh;
    background: linear-gradient(to top, rgba(0, 138, 255, 0.5), rgba(0, 255, 231, 0.5));
    animation: animacaoRGB 15s linear infinite;
    transition: 3s;
}
#iconeLupa {
    display: flex;
    width: 2vw;
    height: 4.5vh;
    padding-left: 0.2vh;
    padding-right: 0.2vh;
}
.icone {
    display: flex;
    margin-left: 1.5vw;
}
#iconeCoracao {
    height: 5vh;
    width: 2.2vw;
}
#iconeCarrinho {
    height: 5vh;
    width: 2.2vw;
    margin-right: 3vw;
}
#iconeUser{
    height: 8vh;
    width: 4vw;
    margin-right: 5%;
}
.icones {
    display: flex;
    justify-content: flex-end;
    margin-right: 1%;
    background: transparent;
}

/* CONFIGURAÇÃO DA DIV RGB BRILHANDO */
.rgbBolado {
    position: absolute;
    width: 100%;
    height: 1vh;
    border: none;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animacaoRGB 15s linear infinite;
    z-index: 100;
}
/* CRIAÇÃO DA ANIMAÇÃO */
@keyframes animacaoRGB{
    0%, 100%{
        filter: hue-rotate(0deg);
        border: none;
    }
    50%{
        filter: hue-rotate(180deg);
        border: none;
    }
}
/* TRAZENDO O EFEITO BLUR (sem as positions e o content não funciona)*/
.rgbBolado::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(2vh);
}
/* CONFIGURAÇÃO DO MENU */
.menu {
    display: flex;
    height: 10vh;
    width: 100%;
    align-items: center;
    justify-content:space-around;
    background-color: #232323;
}
.menu span {
    background: transparent;
}
.menu img {
    height: 2.2vh;
    width: 2.2vh;
}

/* CONFIGURAÇÃO DO BANNER*/
.banner {
    width: 100%;
    height: 75vh;
}
.banner img {
    width: 100%;
    height: 75vh;
}

/* CONFIGURAÇÃO DO TÍTULO DO CARD  */
.tituloCard {
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-left: 2vw;
}


/* CONFIGURAÇÃO DOS CARD*/
.container {
    display: flex;
    position: relative;
    justify-content: space-around;
    margin-top: 2vh;
    margin-bottom: 10vh;
    align-items: center;
    background-color: transparent;
}
.container .card {
    position: relative;
    width: 19.5vw;
    height: 50vh;
    border-radius: 5vh;
    background-color: #232323;
    overflow: hidden; /*esconde o que passa do card */
}
.container .card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(25vh at 80% 20%);
    background: linear-gradient(to top, rgba(0, 138, 255, 0.6), rgba(0, 255, 231, 0.6));
    animation: animacaoRGB 15s linear infinite;
}
.container .card:hover {
    transition: 2s;
    width: 25vw;
    height: 55vh;
}
.container .card:hover:before {
    clip-path: circle(40vh at 80% -10%);
    transition: 2s;
}
.container .card:after {
    content: 'One Piece';
    position: relative;
    top: 4%;
    right: 10%;
    font-size: 9vw;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.05);  
}
.container .card img{
    position: absolute;
    width: 14vw;
    height: 30vh;
    z-index: 1000;
    margin-left: 6vw;
}
.container .card img:hover{
    width: 22vw;
    height: 44vh;
    right: 2vw;
    transition: 2s ease-in-out;
}
.container .card .box {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    transition: 1s;
    z-index: 1000;
    background: transparent;
    padding-bottom: 2vh;
}
.box h2 {
    font-size: 4vh;
    background-color: transparent;
}
.box .tamanho {
    background-color: transparent;
}
.box .cores {
    font-size: 1vh;
    background-color: transparent;
    padding-bottom: 2vh;
}
.box span{
    font-size: 2.5vh;
    background-color: transparent;
}
#descricao {
    font-size: 2vh;
    font-family: raleway-regular;
    margin-bottom: 3vh;
}

